
.horizontal-legend .legend-swatch.oscars{
    background-color: #2064AC;
}

.horizontal-legend .legend-swatch.total{
    background-color: #448FDD;
}

.horizontal-legend .legend-line.usa{
    background-color: #ff7f0e;
}

.horizontal-legend .legend-line.aust{
    background-color: #2ca02c;
}

.horizontal-legend .legend-line.aud {
    background-color: #2ca02c;
}

.horizontal-legend .legend-line.euro {
    background-color: #9467bd;
}

.horizontal-legend .legend-dot.site{
    background-color: #FAA;
	width: 12px;
	height: 12px;
	margin-top: 4px;
	border-radius: 6px;
}

.horizontal-legend .legend-dot.router{
    background-color: #CCF;
}


.chartcontainer.chartrow {
    background: none;
}

/* Area chart traffic example */

.horizontal-legend .legend-swatch.intraffic{
    background-color: #B4D9FE;
}

.horizontal-legend .legend-swatch.outtraffic{
    background-color: #FD8D0D;
}


/* Currency example */
.linechart-line.aud {
    stroke: #2ca02c;
    stroke-width: 2px;
}

.linechart-line.euro {
    stroke: #9467bd;
    stroke-width: 2px;
}

/* Weather example */
.linechart-line.temp {
    stroke: #CA4040;
    stroke-width: 2px;
}
.yaxis-label.temp {
    fill: #CA4040;
}

.linechart-line.pressure {
    stroke: #9467bd;
    stroke-width: 2px;
}
.yaxis-label.pressure {
    fill: #9467bd;
}

.linechart-line.wind {
    stroke: rgb(31, 119, 180);
    stroke-width: 2px;
}

.yaxis-label.wind {
    fill: rgb(31, 119, 180);
}

.yaxis-label.wind-gust {
    fill: rgb(239, 120, 36);
}

.scatterchart-point.wind {
    fill: rgb(239, 120, 36);
    opacity: 1.0;
}

.areachart-area-up.stack-1.rain {
    fill: rgba(0, 127, 255, 0.29);
    stroke: none;
}

.linechart-line.rain {
    stroke: rgb(139, 207, 255);
    stroke-width: 2px;
}

.yaxis-label.rain {
    fill: rgb(139, 207, 255);
}

.yaxis-label.total-rain {
    fill: rgb(139, 207, 255);
}

/**
 Baselines
*/
.baseline-label {
    fill: #DDD;
}

/**
 Bar chart traffic examples
 */

.barchart-rect.traffic-out {
    fill: #8C95A6;
}

.barchart-rect.traffic-in {
    fill: #F1B46F;
}

/* DDos example */
.linechart-line.connections {
    stroke: #2ca02c;
    stroke-width: 2px;
}

.linechart-line.requests {
    stroke: #9467bd;
    stroke-width: 2px;
}

.horizontal-legend .legend-line.connections {
    background-color: #2ca02c;
}

.horizontal-legend .legend-line.requests {
    background-color: #9467bd;
}

.yaxis-label.connections {
    fill: #2ca02c;
}

.yaxis-label.requests {
    fill: #9467bd;
}


/* Examples navigation */

body {
    font-family: 'Arial';
}

.docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.docs-sidebar .nav > li > a {
    color: #CCC;
    background: #FFF;
    display: block;
    padding: 4px 20px;
    font-size: 15px;
    font-weight: 500;
}

.docs-sidebar .nav > li > a.active {
    color: #000;
    font-weight: 600;
    background: #FFF;
    border-bottom-style: solid;
    border-bottom-color: #2DB3D1;
}
