body {
    font-family: 'Arial';
}

.horizontal-legend .legend-swatch.oscars{
    background-color: #2064AC;
}

.horizontal-legend .legend-swatch.total{
    background-color: #448FDD;
}

.chartcontainer.chartrow {
    background: none;
}

.linechart-line.currency {
    stroke: steelblue;
    stroke-width: 2px;
}
