body {
    font-family: 'Arial';
}

.horizontal-legend .legend-swatch.oscars{
    background-color: #2064AC;
}

.horizontal-legend .legend-swatch.total{
    background-color: #448FDD;
}

.horizontal-legend .legend-line.usa{
    background-color: #ff7f0e;
}

.horizontal-legend .legend-line.aust{
    background-color: #2ca02c;
}

.horizontal-legend .legend-dot.site{
    background-color: #FAA;
	width: 12px;
	height: 12px;
	margin-top: 4px;
	border-radius: 6px;
}

.horizontal-legend .legend-dot.router{
    background-color: #CCF;
}


.chartcontainer.chartrow {
    background: none;
}

.linechart-line.aud {
    stroke: #2ca02c;
    stroke-width: 2px;
}

.linechart-line.euro {
    stroke: #9467bd;
    stroke-width: 2px;
}

/* Weather example */
.linechart-line.temp {
    stroke: #2ca02c;
    stroke-width: 2px;
}
.charts-yaxis-label.temp {
    fill: #2ca02c;
}

.linechart-line.pressure {
    stroke: #9467bd;
    stroke-width: 2px;
}
.charts-yaxis-label.pressure {
    fill: #9467bd;
}

.docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.docs-sidebar .nav > li > a {
    color: #666;
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
}

.docs-sidebar .nav > li > a.active {
    color: #000;
}